<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Object</title>
    </head>

    <script>
        // object + details
        let sweatshirt = {
            Size: "",
            Color: "blue",
            Brand: "UnderArmor",
            Material: "cotton",
            Type: "gift",
            Number: 1,
        }

        // names/labels the sweatshirt's size
        sweatshirt.size = "medium"

        // console logs the sweatshirt's size
        console.log(sweatshirt.size)
        
    </script>

    <body>
        <h1>My Object: </h1>
        <h2>A Sweatshirt</h2>
        
    </body>
</html>